#about {
  width:80%;
  min-height:80vh;

  #intro {
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;


    h1 {
      font-size: 48pt;
      width: 100%;
    }

    h2 {
      font-size: 18pt;
      font-weight: normal;
    }


    #photo{
      width:20%;
      margin-right: 3rem;
      img {
        width:100%;
        height:auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      }
    }

    #resume {
      width: 75%;

      p {
        margin-top: 2rem;
        text-align: justify;
        font-size: 13pt;
      }
    }
  }

  #infos {

    .collapsible{
      margin:2rem;

      h3{
        font-size:18pt;
        font-weight: normal;
        cursor:pointer;
      }

      h3:before{
        content: " \f054";
        margin-right:10px;
        font-family: FontAwesome;
        color:brown;
      }

      h3.active:before{
        content: " \f078";
        color:crimson;
      }

      .collapsible-content{
        margin:2rem;
        p, ul li{
          font-size:12pt;
        }
        ul li {
          list-style: none;
          text-indent: 10px;
        }
      }
    }
  }
}