#forms {
  width:80%;
  min-height:80vh;

  .form{
    width:100%;
    margin:2rem 0 1rem 0;

    h1 {
      font-size:25pt;
      cursor : pointer;
    }

    h1:before{
      content: " \f054";
      margin-right:10px;
      font-family: FontAwesome;
      color: #0078a8;
    }

    h1.active:before{
      content: " \f078";
      color: #3388ff;
    }

    .content{
      display:none;
    }

    h2{
      width:100%;
      margin:1rem 0 1rem 0;
      text-align:center;
      font-size:20pt;
      font-weight:normal;
    }

    .group{
      margin:2rem;

      &.aoc{
        div{
          margin-top:1rem;
          width:100%;
          text-align:center;
        }
      }

      input {
        width: 100%;
        height:10%;
        margin-top:1rem;
        padding: .5rem;
        display: block;

        outline: none;
        border: 0;
        background-color: #F6F6F6;
        border-bottom: solid 2px #F6F6F6;
        transition: border-color ease-in .25s;

        color: #666;
        font-weight: 400;
        letter-spacing: .05rem;
        font-size: 16pt;

        &:focus {
          border-color: #74B9FF;
        }

        &::placeholder {
          color: #CCC;
        }
      }
    }

    .error{
      display:none;
      color:#DC3545;
      font-size: 12pt;
    }

    .button{
      font-size:14pt;
      background-color: #3498db;
      color: #FFF;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 3px;
      cursor: pointer;

      &.submit{
        &.disabled{
          background: grey;
          cursor: not-allowed;
        }
      }
    }
  }
}