#mapboard {
	margin : 0 25px 25px 25px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	width:100%;
	min-height:80vh;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.board {
	width: 25%;
	height:80vh;
	text-align: center;

	.search-sort {
		display:flex;
		align-items: center;
		width:100%;
		height:10%;
		padding: 1.25rem 0 1.25rem 0;
		border-bottom: solid 1px #E6E6E6;

		img{
			cursor: pointer;
			width:5%;
			height:auto;
			margin : 0 auto;
		}

		input {
			width: 90%;
			margin: 0 auto;
			padding: .5rem;
			display: block;

			outline: none;
			border: 0;
			background-color: #F6F6F6;
			border-bottom: solid 2px #F6F6F6;
			transition: border-color ease-in .25s;

			color: #666;
			font-weight: 400;
			letter-spacing: .05rem;
			font-size: 1.125rem;

			&:focus {
				border-color: #74B9FF;
			}

			&::placeholder {
				color: #CCC;
			}
		}
	}

	.area {
		margin-bottom: 4rem;
		height:90%;
		overflow: auto;

		.domaine:hover{
			background:#F6F6F6;
		}

		.domaine {
			padding : 1.25rem 0;
			border-bottom: solid 2px #F6F6F6;
			position: relative;
			cursor: pointer;

			&.selected {

			}

			.name {
				letter-spacing: .125rem;
				color: #333;
				font-weight: 600;
				font-size: 1.125rem;
			}

			.list-aoc {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.aoc {
					.header-aoc {
						display: flex;
						justify-content: center;
						align-items: center;

						p {
							font-size: 15px;
							margin: .5rem;
							padding: .25rem 1rem;
							border-radius: 5px;
							color: #FFF;
						}

						.logo-mets {
							margin-left: 1rem;
							width: 7%;
							height: auto;
						}
					}

					.list-mets{
						display:none;
						margin:1rem;
						ul{
							margin:0.5rem;
						}
						li{
							display:flex;
							justify-content: center;
							align-items: center;
							font-size: 15px;
							list-style: none;
							img{
								margin-right:1rem;
								width:10%;
								height:auto;
							}
						}
					}
				}
			}

			.address {
				margin: auto;
				padding: 1.25rem 0;
				max-width: 80%;

				color: #AAA;
				letter-spacing: .125rem;
				font-weight: 600;
			}
		}
	}
}