footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	background-color: #222;
	color: #FFF;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 100%;

	.ico {
		height: 50%;
		margin-top: 25%;
		user-select: none;
	}

	.footer-links {
		margin-top: .75rem;

		a {
			display: inline-block;
			margin-right: .5rem;

			border-radius: .25rem;
			width: 2.5rem;
			height: 2.5rem;
			line-height: 2.5rem;
			text-align: center;
			font-size: 1rem;
			
			color: #FFF;
			background-color: #333;
			cursor: pointer;

			border: solid 2px #333;
			transition: border-color ease .5s;

			&:hover {
				border-color: #555;
			}
		}
	}

	.col {
		width: 100%;
		max-width: 400px;
		margin: 1rem;
	}

	.footer-left {
		.container-ico {
			vertical-align: middle;
			display: inline-block;
			margin-right: .5rem;

			border-radius: 50%;
			width: 2.5rem;
			height: 2.5rem;
			line-height: 2.5rem;
			text-align: center;
			font-size: 1rem;
			
			color: #FFF;
			background-color: #333;
		}

		p {
			display: inline-block;
			vertical-align: middle;

			span {
				display: block;
				font-weight: 300;
				line-height: 2;
			}

			a {
				color: #2980B9;
				text-decoration: none;
				font-weight: 500;
				letter-spacing: .1rem;
			}
		}
	}

	.footer-company-about {
		line-height: 20px;
		color: #92999F;
		font-size: 1rem;
		font-weight: normal;
		margin: 0;

		span {
			display: block;
			color: #FFF;
			font-size: 1.25rem;
			font-weight: 700;
			letter-spacing: .05rem;
			margin-bottom: 1.25rem;
		}
	}
}