header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  user-select: none;
  padding: 1rem 2rem;

  a {
  text-decoration: none;
  }

  #link-home .logo {
    width: auto;
    height: 10vh;
  }

  .header-link {
    font-size: 18pt;
    letter-spacing: .125rem;
    font-weight: 500;
    margin-left: 5rem;
    padding: 5px;
    color: rgba(34, 34, 34, .9);
    transition: ease 0.2s;

    &:hover {
      color: rgba(34, 34, 34, .6);
      border-bottom: 2px solid rgba(34, 34, 34, .6);
    }

    &.active {
      color: rgba(34, 34, 34, .6);
      border-bottom: 2px solid rgba(34, 34, 34, .6);
    }
  }
}