#map {
	width: 75%;
	height:80vh;
	border: solid 1px #E1E1E1
}

.zoom {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;

	margin: 1rem;
	width: 60px;

	img {
		background-color: #FFF;
		border-radius: 25%;
		width: 32px;
		margin: 2px;
		padding: 10px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		transition: box-shadow .25s ease;

		&:hover {
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
			cursor: pointer;
		}

		&.max {
			background-color: #F1F1F1;
			&:hover {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
				cursor: default;
			}
		}
	}
}

.leaflet-marker-icon {
	transition-duration: .5s;
	transition-property: width, height;
	transform-style: ease;
	content:url("../img/svg/pin-2-1.svg");

	&.selected {
		width: 40px !important;
		height: 40px !important;
		content:url("../img/svg/pin-2-2.svg");
		z-index: 10000 !important;
	}

	&.hidden {
		visibility: hidden;
	}
}

@media screen and (max-width: 1000px) {
  #map, .board { width: 100%; }
}