
@mixin font-face ($font-name, $weights: 300 400 500 700) {
    @each $w in $weights {
        @font-face {
            font-family: $font-name;
            src: url("../font/"+ $font-name +"-"+ $w +".ttf") format('truetype');
            font-weight: $w;
            font-style: normal;
        }
        
        @font-face {
            font-family: $font-name;
            src: url("../font/"+ $font-name +"-"+ $w +"-Italic.ttf") format('truetype');
            font-weight: $w;
            font-style: italic;
        }
    }
}


@mixin mx ($value) {
    @if ($value == auto) {
        margin-right: auto;
        margin-left: auto;
    } @else {
        margin-right: $value * .25rem;
        margin-left: $value * .25rem;
    }
}

@mixin my ($value) {
    @if ($value == auto) {
        margin-top: auto;
        margin-bottom: auto;
    } @else {
        margin-top: $value * .25rem;
        margin-bottom: $value * .25rem;
    }
}