@import "./mixin";


@include font-face('Roboto');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
	font-size: 14px;
}

body {
	color: #222;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&.hide {
		display: none;
	}
}

@import "./layout/index";