@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-300-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-400-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-500-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-700-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 14px; }

body {
  color: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  body.hide {
    display: none; }

#forms {
  width: 80%;
  min-height: 80vh; }
  #forms .form {
    width: 100%;
    margin: 2rem 0 1rem 0; }
    #forms .form h1 {
      font-size: 25pt;
      cursor: pointer; }
    #forms .form h1:before {
      content: " \f054";
      margin-right: 10px;
      font-family: FontAwesome;
      color: #0078a8; }
    #forms .form h1.active:before {
      content: " \f078";
      color: #3388ff; }
    #forms .form .content {
      display: none; }
    #forms .form h2 {
      width: 100%;
      margin: 1rem 0 1rem 0;
      text-align: center;
      font-size: 20pt;
      font-weight: normal; }
    #forms .form .group {
      margin: 2rem; }
      #forms .form .group.aoc div {
        margin-top: 1rem;
        width: 100%;
        text-align: center; }
      #forms .form .group input {
        width: 100%;
        height: 10%;
        margin-top: 1rem;
        padding: .5rem;
        display: block;
        outline: none;
        border: 0;
        background-color: #F6F6F6;
        border-bottom: solid 2px #F6F6F6;
        transition: border-color ease-in .25s;
        color: #666;
        font-weight: 400;
        letter-spacing: .05rem;
        font-size: 16pt; }
        #forms .form .group input:focus {
          border-color: #74B9FF; }
        #forms .form .group input::placeholder {
          color: #CCC; }
    #forms .form .error {
      display: none;
      color: #DC3545;
      font-size: 12pt; }
    #forms .form .button {
      font-size: 14pt;
      background-color: #3498db;
      color: #FFF;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 3px;
      cursor: pointer; }
      #forms .form .button.submit.disabled {
        background: grey;
        cursor: not-allowed; }

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  user-select: none;
  padding: 1rem 2rem; }
  header a {
    text-decoration: none; }
  header #link-home .logo {
    width: auto;
    height: 10vh; }
  header .header-link {
    font-size: 18pt;
    letter-spacing: .125rem;
    font-weight: 500;
    margin-left: 5rem;
    padding: 5px;
    color: rgba(34, 34, 34, 0.9);
    transition: ease 0.2s; }
    header .header-link:hover {
      color: rgba(34, 34, 34, 0.6);
      border-bottom: 2px solid rgba(34, 34, 34, 0.6); }
    header .header-link.active {
      color: rgba(34, 34, 34, 0.6);
      border-bottom: 2px solid rgba(34, 34, 34, 0.6); }

#about {
  width: 80%;
  min-height: 80vh; }
  #about #intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #about #intro h1 {
      font-size: 48pt;
      width: 100%; }
    #about #intro h2 {
      font-size: 18pt;
      font-weight: normal; }
    #about #intro #photo {
      width: 20%;
      margin-right: 3rem; }
      #about #intro #photo img {
        width: 100%;
        height: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
    #about #intro #resume {
      width: 75%; }
      #about #intro #resume p {
        margin-top: 2rem;
        text-align: justify;
        font-size: 13pt; }
  #about #infos .collapsible {
    margin: 2rem; }
    #about #infos .collapsible h3 {
      font-size: 18pt;
      font-weight: normal;
      cursor: pointer; }
    #about #infos .collapsible h3:before {
      content: " \f054";
      margin-right: 10px;
      font-family: FontAwesome;
      color: brown; }
    #about #infos .collapsible h3.active:before {
      content: " \f078";
      color: crimson; }
    #about #infos .collapsible .collapsible-content {
      margin: 2rem; }
      #about #infos .collapsible .collapsible-content p, #about #infos .collapsible .collapsible-content ul li {
        font-size: 12pt; }
      #about #infos .collapsible .collapsible-content ul li {
        list-style: none;
        text-indent: 10px; }

#mapboard {
  margin: 0 25px 25px 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.board {
  width: 25%;
  height: 80vh;
  text-align: center; }
  .board .search-sort {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 1.25rem 0 1.25rem 0;
    border-bottom: solid 1px #E6E6E6; }
    .board .search-sort img {
      cursor: pointer;
      width: 5%;
      height: auto;
      margin: 0 auto; }
    .board .search-sort input {
      width: 90%;
      margin: 0 auto;
      padding: .5rem;
      display: block;
      outline: none;
      border: 0;
      background-color: #F6F6F6;
      border-bottom: solid 2px #F6F6F6;
      transition: border-color ease-in .25s;
      color: #666;
      font-weight: 400;
      letter-spacing: .05rem;
      font-size: 1.125rem; }
      .board .search-sort input:focus {
        border-color: #74B9FF; }
      .board .search-sort input::placeholder {
        color: #CCC; }
  .board .area {
    margin-bottom: 4rem;
    height: 90%;
    overflow: auto; }
    .board .area .domaine:hover {
      background: #F6F6F6; }
    .board .area .domaine {
      padding: 1.25rem 0;
      border-bottom: solid 2px #F6F6F6;
      position: relative;
      cursor: pointer; }
      .board .area .domaine .name {
        letter-spacing: .125rem;
        color: #333;
        font-weight: 600;
        font-size: 1.125rem; }
      .board .area .domaine .list-aoc {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .board .area .domaine .list-aoc .aoc .header-aoc {
          display: flex;
          justify-content: center;
          align-items: center; }
          .board .area .domaine .list-aoc .aoc .header-aoc p {
            font-size: 15px;
            margin: .5rem;
            padding: .25rem 1rem;
            border-radius: 5px;
            color: #FFF; }
          .board .area .domaine .list-aoc .aoc .header-aoc .logo-mets {
            margin-left: 1rem;
            width: 7%;
            height: auto; }
        .board .area .domaine .list-aoc .aoc .list-mets {
          display: none;
          margin: 1rem; }
          .board .area .domaine .list-aoc .aoc .list-mets ul {
            margin: 0.5rem; }
          .board .area .domaine .list-aoc .aoc .list-mets li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            list-style: none; }
            .board .area .domaine .list-aoc .aoc .list-mets li img {
              margin-right: 1rem;
              width: 10%;
              height: auto; }
      .board .area .domaine .address {
        margin: auto;
        padding: 1.25rem 0;
        max-width: 80%;
        color: #AAA;
        letter-spacing: .125rem;
        font-weight: 600; }

#map {
  width: 75%;
  height: 80vh;
  border: solid 1px #E1E1E1; }

.zoom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  margin: 1rem;
  width: 60px; }
  .zoom img {
    background-color: #FFF;
    border-radius: 25%;
    width: 32px;
    margin: 2px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow .25s ease; }
    .zoom img:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
      cursor: pointer; }
    .zoom img.max {
      background-color: #F1F1F1; }
      .zoom img.max:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        cursor: default; }

.leaflet-marker-icon {
  transition-duration: .5s;
  transition-property: width, height;
  transform-style: ease;
  content: url("../img/svg/pin-2-1.svg"); }
  .leaflet-marker-icon.selected {
    width: 40px !important;
    height: 40px !important;
    content: url("../img/svg/pin-2-2.svg");
    z-index: 10000 !important; }
  .leaflet-marker-icon.hidden {
    visibility: hidden; }

@media screen and (max-width: 1000px) {
  #map, .board {
    width: 100%; } }

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #FFF;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%; }
  footer .ico {
    height: 50%;
    margin-top: 25%;
    user-select: none; }
  footer .footer-links {
    margin-top: .75rem; }
    footer .footer-links a {
      display: inline-block;
      margin-right: .5rem;
      border-radius: .25rem;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
      font-size: 1rem;
      color: #FFF;
      background-color: #333;
      cursor: pointer;
      border: solid 2px #333;
      transition: border-color ease .5s; }
      footer .footer-links a:hover {
        border-color: #555; }
  footer .col {
    width: 100%;
    max-width: 400px;
    margin: 1rem; }
  footer .footer-left .container-ico {
    vertical-align: middle;
    display: inline-block;
    margin-right: .5rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    color: #FFF;
    background-color: #333; }
  footer .footer-left p {
    display: inline-block;
    vertical-align: middle; }
    footer .footer-left p span {
      display: block;
      font-weight: 300;
      line-height: 2; }
    footer .footer-left p a {
      color: #2980B9;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: .1rem; }
  footer .footer-company-about {
    line-height: 20px;
    color: #92999F;
    font-size: 1rem;
    font-weight: normal;
    margin: 0; }
    footer .footer-company-about span {
      display: block;
      color: #FFF;
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: .05rem;
      margin-bottom: 1.25rem; }

/*# sourceMappingURL=app.css.map */